.Questions {
    margin-top: 150px;
}

.QuestionsTitle {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding: 0 228px;
}

.QuestionsTitle h1 {
    font-weight: bold;
    font-size: 30px;
}

.QuestionsTitle p {
    color: #abaaaf;
    font-size: 20px;
}

/* LIST OF QUESTIONS SECTION */

.ListOfQuestions ul{
    list-style: none;
    text-align: center;
}

.InnerList {
    display:inline-block;
    width: 400px;
    border-top: solid #efefef;
    padding: 15px 0 15px 0;
    text-align: left;
}

.InnerList a {
    text-decoration: none;
    color: black;
}

.InnerList a:hover {
    color: #ed9ca0;
}

.ListOfQuestions h6 {
    /* display: inline-block; */
    display:inline;
    
}

.ListOfQuestions img {
    float: right;
    margin-top: 7px;
}