.MainHeaderDiv {
    padding-top: 40px;
}

.MainHeaderDiv ul{
    margin-left: 30px;
    list-style: none;
    margin-bottom: 0px;
}

.MainHeaderDiv ul li {
    margin-right: 50px;
    font-size: 15px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
}

.MainHeaderDiv ul li a {
    text-decoration: none;
    color: #36536B;
}

.LeftSideLinks {
    margin-top:4px;
}

.MainHeaderDiv ul, .LeftSideLinks, .MainHeaderDiv ul li{
    display: inline-block;
}

.RightSideLinks {
    float: right;
}

.RightSideLinks button {
    font-size: 15px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.3px;
    border-radius: 24px;
    padding: 10px 25px 10px 25px;
    background: #BA4270;
    border-color: #BA4270;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    z-index: 3;
    position: relative;
}

.RightSideLinks button:hover {
    background: #DA6D97;
    border-color: #DA6D97;
}

/* ---- */

@media (max-width: 1440px) {
    .LeftSideLinks {
        margin-left: 80px;
    }

    .RightSideLinks {
        margin-right: 55px;
    }
}