.MainContactDiv {
    margin-top: 100px;
}

.MainTitle h1 {
    width: 730px;
    font-family: 'DM Serif Display';
    font-weight: bold;
    font-size: 56px;
    color: #36536b;
}

.ContactForm {
    margin-top: 50px;   
}

.ContactForm input, .ContactForm textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    opacity: 0.7;
    border-radius: 0px;
    padding: 10px 0px 15px 20px;
    margin-top:10px;

    font-family: 'Public Sans';
    font-size:15px;
    color: #36536b;
}

.ContactForm input:focus, .ContactForm textarea:focus {
    color: black;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid;
    opacity:1;

}

.ContactForm textarea {
    padding-bottom: 50px;
}

.CheckBox {
    width: 445px;
}

.CheckBox label {
    margin-left: 25px;
}

.CheckBox input{
    background-color: #36536b;
    padding: 10px;
    opacity: 0.25;
}

.CheckBox input:focus {
    background-color: #BA4270;
}

.RightSideContact {
    width: 541px;    
    margin-left: 200px;
    margin-top: 60px;

}

.RightSideContact h3 {
    font-family: 'DM Serif Display';
    font-weight: bold;
    font-size: 24px;
    width: 445px;
    color: #36536b;
    margin-bottom: 40px;
}

.RightSideContact ul {
    list-style: none;
    padding: 0;
    margin-bottom:40px;
}

.RightSideContact ul li {
    display: inline-block;
    margin-right: 60px;
}

.HP, .Nvidia {
    margin-right: 0px !important;
}

.Google {
    margin-left:23px;
}

.Nvidia {
    margin-left: 29px;
}

