.Moon div {
    padding-bottom: 0px;
}

.Moon h1 {
    font-size: 110px;
    font-family: Bellefair;
    text-transform: uppercase;
    color: white;
    font-weight: 100;
}

.MainText {
    padding-bottom: 40px !important;
    border-bottom: 1px solid #383B4B!important;
}

.Paragraphs {
    color: #D0D6F9;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Barlow';
}

.Description {
    display: inline-block;
    padding-top: 30px;
}

.Description:nth-child(2) {
    margin-right: 40px;
}

.Description h5 {
    color: #D0D6F9;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2.72px;
    margin-right: 40px;
    transform: scaleY(1.25);
}

.Description p {
    font-family: 'Bellefair';
    font-size: 28px;
    color: white;

}

.Image {
    position: absolute;
    right: 765px;
    top: 75px;
    display: inline-block;
}

/* SCREEN SIZES */

@media (max-width: 1600px) {
    .Image {
        right: 721px;
    }
}

@media (max-width: 1440px) {
    .Image {
        right: 561px;
    }
}

@media (max-width: 992px) {
    .Image img{
        width: 300px;
        height: 300px;
    }

    .Image {
        right: 511px;
    }
}

@media (max-width: 768px) {
    
    .Image {
        left: 24%;
        top: -66%;
    }

    .MainText {
        text-align: center;
        padding-bottom: 0px !important;
    }

    .outerDescription {
        text-align: center;
    }

    .Description h5 {
        font-size: 10px;
        margin-right: 0px;
    }

    .Description:nth-child(2) {
        margin-right: 0px;
        margin-left: 130px;
    }
}

@media (max-width: 375px) {

    .Image img{
        width: 170px;
        height: 170px;
    }

    .Image {
        left: 60%;
        top: -42%;
    }
}