.backgroundDiv {
    background-color: #4f63d5;
    width: 626px;
    height: 296px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    position: absolute;
    margin: 70px 0 0 -142px;
}

.mainImage {
    position: relative;
    margin-left:50px;
}

.RightSide {
    /* width: 435px; */
    margin-left: 60px;
    margin-top:50px;
}

.RightSide h1 {
    font-weight: bold;
    font-size: 40px
}

.RightSide p {
    font-size: 20px;
    margin-top: 20px;
    color: #abaaaf;
}

.InfoButton {
    background-color: #5366e1 !important;
    border-color: #97a2d3 !important;
}