.MainBottomSectionDiv {
    color: #36536B;
    background-image: url('../../bg-pattern-circle.svg');
    background-repeat: no-repeat;
    background-position-x: 1395px;
    background-position-y: 395px;
    background-color: #EDF3F8
}

.MainBottomSectionDiv h1{
    font-family: 'DM Serif Display';
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
}

.MainBottomSectionDiv p {
    font-family: 'Public Sans';
    line-height: 28px;
    margin-top:15px;
}

/* --- */

.EasyTexts {
    margin-top: 200px;
    width: 445px;
    margin-left: 150px;
}

.UI img{
    margin-left: -60px;
    margin-top: 80px; 
}

/* --- */

.SimpleTexts {
    width: 445px;
    margin-top:240px;
    margin-left: -10px;
}

.SimpleUI img{
    margin-right: -90px;
}

/* --- */

.PersonalFinance, .BankingCoverage, .ConsumerPayment {
    width: 350px;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
}

.PersonalFinance h4, .BankingCoverage h4, .ConsumerPayment h4 {
    font-size: 17px;
    font-weight: bold;
}

.PersonalFinance img, .BankingCoverage img, .ConsumerPayment img{
    margin-bottom: 30px;
}

/* --- */

@media (max-width: 1440px) {
    .SimpleUI img{
        margin-right: -60px;
    }

    .SimpleTexts {
        margin-left: 59px;
    }

    .PersonalFinance, .BankingCoverage, .ConsumerPayment {
        margin-left: 50px;
        width: 320px;
    }


    .UI img{
        margin-left: 10px;
    }

    .EasyTexts {
        margin-left: 50px;
    }

    .MainBottomSectionDiv {
        background-position-x: 1125px;
    }

}

@media (max-width: 1200px) {
    .EasyTexts {
        margin-left: 0px;
    }

    .SimpleUI {
        float: right;
        margin-top: -395px;
    }

    .PersonalFinance, .BankingCoverage, .ConsumerPayment {
        margin-left: 0px;
    }

    .MainBottomSectionDiv {
        background-position-x: 915px;
    }

}