.MainBodyDiv {
    background-color: #EDF3F8;
}

.MainBodyContents {
    margin-top: 50px;
    height: 520px;
}

.MainBodyContents h1 {
    font-family: 'DM Serif Display';
    font-weight: 800;
    font-size: 72px;
    line-height: 72px;;
    color: #36536B;

}

.FormGroup {
    display: inline-block;
}

.LeftSideContents {
    width: 546px;
    margin-top:200px;
}

.LeftSideContents input {
    border-radius: 20px;
    padding: 10px;
    font-family: 'Public Sans';
    color: #36536B;
    font-weight: 700;
    padding-left: 20px;
    margin-top: 45px;
    display: inline-block;
    width: 320px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

.LeftSideContents p {
    font-family: 'Public Sans';
    color: #36536B;
    opacity: 0.7;
    margin-left: 21px;
    margin-top:5px;

}

.LeftSideContents input::placeholder {
    color: #36536B;
    opacity: 0.5;
    margin-left: 20px;
}

.LeftSideContents input:hover {
    cursor: pointer;
}

.LeftSideContents input:focus {
    box-shadow: none;
    border-color:#EDF3F8;
}

.ScheduleDemo {
    position: absolute;
    top: 514px;
    left: 570px;
}

.ScheduleDemo button:hover {
    background: #DA6D97;
    border-color: #DA6D97;
}

.ScheduleDemo button {
    font-size: 15px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.3px;
    border-radius: 24px;
    padding: 10px 25px 10px 25px;
    background: #BA4270;
    border-color: #BA4270;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}


.PhoneImage {
    position: absolute;
    right: 285px;
    top: 135px;
    z-index: 2;
}

.BackgroundCircle {
    position: absolute;
    top: -165px;
    right: 35px;
    z-index: 1;
}