.PartnersDiv {
    background-color: #1B262F;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../../bg-pattern-circle.svg');
    background-repeat: no-repeat;
    background-position-x: -100px;
    background-position-y: -375px;
}

.LeftSideContent {
    color: white;
    width: 445px;
    display: inline-block;
}

.LeftSideContent h1 {
    font-family: 'DM Serif Display';
    font-weight: bold;
    letter-spacing: -0.369231px;
    font-size: 48px;
}

.LeftSideContent p {
    font-family: 'Public Sans';
    font-size: 16px;
    opacity: 0.7;
    line-height: 28px;
}

.LeftSideContent button {
    background-color: #1B262F;
    border-color: white;
    border-radius: 20px;
    padding: 8px 27px 8px 27px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top:15px;
}

.RightSideContent {
    width: 536px;
    display: inline-block;
    position: absolute;
    right: 250px;
    top:935px;
}

.RightTable img{
    color: white;
    filter: brightness(6);
}

.RightTable td {
    padding-bottom: 40px;
    padding-right: 55px;
    text-align: center;

}

/* ---- */

@media (max-width: 1440px) {
    .LeftSideContent {
        margin-left: 70px;
    }

    .RightSideContent {
        right: 135px;
    }
}