.Button button{
    width: 70px;
    height: 40px;
    background: #eae3db;
    border: 1px solid #363b48;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0px 0.5px #b0a598;
    border-radius: 10px;
    color: #444c5a;
}
