.BackgroundImage {
    background-image: url("../background-home-desktop.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px;
    min-width: 1440px;
}

/* SCREEN SIZE STYLES */

@media (max-width: 1440px) {
    .BackgroundImage {
        min-width: 0;
    }
}