.Modal {
    position: absolute;
    width: 254px;
    height: 1100px;
    left: 121px;
    top:0px;

    backdrop-filter: blur(40px);
}

.Links {
    top: 110px; 
    position:absolute;
}

.Links ul {
    list-style-type: none;
    color: white;
    font-family: Barlow Condensed;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.Links b {
    margin-right:10px;
}

.Links a {
    text-decoration: none;
    color: white;
}

.Links li {
    margin-top: 40px;
}

.Links ul li {
    transform: scaleY(1.5)
}

.Close {
    position: absolute;
    top: 30px;
    right: 24px;
    cursor: pointer;
}