.OuterButtonLayout {
    background: hsl(223, 31%, 20%);
    text-align: center;
    margin: 0px 785px;
}

.ButtonLayout {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px 15px;
    padding-top:20px;
}

.ButtonLayout2 {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Reset {
    width: 200px;
}

/* Change color for Delete button */
.ButtonLayout div:nth-child(4) button, .ButtonLayout2 div:nth-child(1) button{
    background-color: #647299;
    color: #fcffff;
    box-shadow: 0px 0.5px #414e72;
    font-size: 14px;
}

.ButtonLayout2 div:nth-child(2) button {
    background-color: #d13f30;
    color: #fcffff;
    box-shadow: 0px 0.5px #732a28;
    font-size: 14px;
}